In [1]:
#Importing Necessary libraries

import hashlib
import pandas as pd
import os
import requests, zipfile, io
import mysql.connector
import codecs
from sqlalchemy import create_engine

In [2]:
# Download from a URL and extract

url = "https://openpsychometrics.org/_rawdata/IPIP-FFM-data-8Nov2018.zip"

In [3]:
#Retrieve the file from URL and extract all in the directory

r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("/Users/anushakaran/Documents/")

In [4]:
#Read the csv file from the extracted archive and store the data into pandas dataframe using tab delimiter

doc = codecs.open('/Users/anushakaran/Documents/IPIP-FFM-data-8Nov2018/data-final.csv') 
data = pd.read_csv(doc, sep='\t')

In [5]:
# Connecting to MySQL
DBPARAMS = mysql.connector.connect(
  host="localhost",
  user="root",
  password="n@zli2904",
    buffered = True
)

cursor = DBPARAMS.cursor()

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="n@zli2904",
                               db="ppdata"))

In [6]:
COLUMN_DEFINITIONS = [
    ("ext1", "int"),
    ("ext2", "int"),
    ("ext3", "int"),
    ("ext4", "int"),
    ("ext5", "int"),
    ("ext6", "int"),
    ("ext7", "int"),
    ("ext8", "int"),
    ("ext9", "int"),
    ("ext10", "int"),
    ("est1", "int"),
    ("est2", "int"),
    ("est3", "int"),
    ("est4", "int"),
    ("est5", "int"),
    ("est6", "int"),
    ("est7", "int"),
    ("est8", "int"),
    ("est9", "int"),
    ("est10", "int"),
    ("agr1", "int"),
    ("agr2", "int"),
    ("agr3", "int"),
    ("agr4", "int"),
    ("agr5", "int"),
    ("agr6", "int"),
    ("agr7", "int"),
    ("agr8", "int"),
    ("agr9", "int"),
    ("agr10", "int"),
    ("csn1", "int"),
    ("csn2", "int"),
    ("csn3", "int"),
    ("csn4", "int"),
    ("csn5", "int"),
    ("csn6", "int"),
    ("csn7", "int"),
    ("csn8", "int"),
    ("csn9", "int"),
    ("csn10", "int"),
    ("opn1", "int"),
    ("opn2", "int"),
    ("opn3", "int"),
    ("opn4", "int"),
    ("opn5", "int"),
    ("opn6", "int"),
    ("opn7", "int"),
    ("opn8", "int"),
    ("opn9", "int"),
    ("opn10", "int"),
    ("ext1_e", "int"),
    ("ext2_e", "int"),
    ("ext3_e", "int"),
    ("ext4_e", "int"),
    ("ext5_e", "int"),
    ("ext6_e", "int"),
    ("ext7_e", "int"),
    ("ext8_e", "int"),
    ("ext9_e", "int"),
    ("ext10_e", "int"),
    ("est1_e", "int"),
    ("est2_e", "int"),
    ("est3_e", "int"),
    ("est4_e", "int"),
    ("est5_e", "int"),
    ("est6_e", "int"),
    ("est7_e", "int"),
    ("est8_e", "int"),
    ("est9_e", "int"),
    ("est10_e", "int"),
    ("agr1_e", "int"),
    ("agr2_e", "int"),
    ("agr3_e", "int"),
    ("agr4_e", "int"),
    ("agr5_e", "int"),
    ("agr6_e", "int"),
    ("agr7_e", "int"),
    ("agr8_e", "int"),
    ("agr9_e", "int"),
    ("agr10_e", "int"),
    ("csn1_e", "int"),
    ("csn2_e", "int"),
    ("csn3_e", "int"),
    ("csn4_e", "int"),
    ("csn5_e", "int"),
    ("csn6_e", "int"),
    ("csn7_e", "int"),
    ("csn8_e", "int"),
    ("csn9_e", "int"),
    ("csn10_e", "int"),
    ("opn1_e", "int"),
    ("opn2_e", "int"),
    ("opn3_e", "int"),
    ("opn4_e", "int"),
    ("opn5_e", "int"),
    ("opn6_e", "int"),
    ("opn7_e", "int"),
    ("opn8_e", "int"),
    ("opn9_e", "int"),
    ("opn10_e", "int"),
    ("dateload", "timestamp"),
    ("screenw", "int"),
    ("screenh", "int"),
    ("introelapse", "decimal(20,5)"),
    ("testelapse", "decimal(20,5)"),
    ("endelapse", "decimal(20,5)"),
    ("ipc", "int"),
    ("country", "char(2)"),
    ("lat_appx_lots_of_err", "decimal(9,6)"),
    ("long_appx_lots_of_err", "decimal(9,6)"),
]

In [7]:
#Format the DDL Query

DDL = ','.join(('{name} {type}'.format(name=col_name, type=col_type) for (col_name, col_type) in COLUMN_DEFINITIONS))

In [8]:
#Create Table in MySQL

table_stmt = 'CREATE TABLE ppdata.big_five_research ({})'.format(DDL)
cursor.execute(table_stmt)

In [9]:
#Data Cleaning
#1. Replaced NONE values with empty string
#2. Imputed 0.0 for null values in lat_appx_lots_of_err and long_appx_lots_of_err

data = data.replace('NONE', '')
data['lat_appx_lots_of_err'] = data['lat_appx_lots_of_err'].replace('',0.0)
data['long_appx_lots_of_err'] = data['long_appx_lots_of_err'].replace('',0.0)

In [10]:
#Copy data from pandas dataframe to mysql

data.to_sql('big_five_research', con = engine, if_exists = 'append', chunksize = 1000, index= False)

In [11]:
#Query 1 : Write out the count of records that exist in this table

cursor.execute("SELECT count(*) FROM ppdata.big_five_research")
result = cursor.fetchone()[0]
print ("Total Record Count :", result)

Total Record Count : 1015341

In [12]:
#Query 2 : Write out the average total test time elapsed per country. This should include two columns: Country Code and average_number_seconds. It should be ordered alphabetically by country code

cursor.execute("SELECT country , avg(testelapse) FROM ppdata.big_five_research where country is not null and country != '' group by country order by country asc")
rows = cursor.fetchall()
print('Total Row(s):', cursor.rowcount)

for row in rows:
    print(row[0],row[1])

Total Row(s): 222
AD 348.352941176
AE 2330.828104575
AF 27574.018518518
AG 357.958333333
AI 227.500000000
AL 393.142201834
AM 387.091743119
AO 340.000000000
AQ 210.500000000
AR 578.346717654
AS 254.444444444
AT 405.917344173
AU 633.716338713
AW 306.823529411
AX 325.666666666
AZ 405.650000000
BA 562.310909090
BB 447.184713375
BD 388.749216300
BE 497.591612057
BF 155.000000000
BG 504.364280094
BH 357.159420289
BI 873.000000000
BJ 332.000000000
BM 342.719298245
BN 328.449392712
BO 564.717808219
BQ 536.500000000
BR 684.181220958
BS 1401.118881118
BT 207.785714285
BW 518.084905660
BY 566.331325301
BZ 426.236842105
CA 640.653992395
CD 189.000000000
CG 815.000000000
CH 512.041332906
CI 475.615384615
CK 304.000000000
CL 922.760789715
CM 417.212121212
CN 714.843283582
CO 794.767513257
CR 441.314241486
CU 573.708333333
CV 218.818181818
CW 589.560000000
CY 485.854838709
CZ 725.232338308
DE 565.907341664
DJ 245.000000000
DK 549.044900927
DM 387.769230769
DO 719.935574229
DZ 800.891213389
EC 633.469244288
EE 632.241176470
EG 924.445304937
ES 904.998399679
ET 3586.072202166
FI 523.502535730
FJ 274.981481481
FK 235.000000000
FM 441.400000000
FO 436.387755102
FR 563.710260586
GA 398.000000000
GB 690.487779565
GD 412.916666666
GE 1867.816155988
GF 344.000000000
GG 265.755555555
GH 1062.014705882
GI 310.888888888
GL 895.323529411
GM 433.300000000
GN 464.000000000
GP 339.750000000
GQ 304.000000000
GR 418.301751592
GT 784.250000000
GU 292.613445378
GY 366.978260869
HK 822.273284997
HN 694.419642857
HR 875.969696969
HT 361.266666666
HU 729.026560424
ID 653.195253505
IE 476.825998520
IL 434.011180992
IM 340.633333333
IN 659.472600388
IQ 548.043010752
IR 586.617715617
IS 796.691176470
IT 536.384051156
JE 5780.888888888
JM 551.906250000
JO 937.109839816
JP 653.565442317
KE 542.270462633
KG 1239.000000000
KH 804.758441558
KM 226.000000000
KN 2669.600000000
KR 699.931575643
KW 575.486146095
KY 678.190476190
KZ 680.800380228
LA 430.464285714
LB 1533.485065710
LC 467.809523809
LI 276.000000000
LK 541.388571428
LR 245.000000000
LS 369.416666666
LT 625.849227974
LU 283.178899082
LV 1067.731141199
LY 697.382352941
MA 750.408817635
MC 216.200000000
MD 701.439393939
ME 357.000000000
MF 268.000000000
MG 265.833333333
MH 235.000000000
MK 989.600566572
ML 354.333333333
MM 443.139534883
MN 506.194444444
MO 486.205298013
MP 439.833333333
MQ 419.600000000
MR 429.666666666
MS 101.500000000
MT 366.608465608
MU 338.754010695
MV 8276.695121951
MW 364.000000000
MX 703.032468119
MY 586.699127522
MZ 422.076923076
NC 431.375000000
NE 959.000000000
NG 926.097689075
NI 532.312138728
NL 618.313899969
NO 1085.791522333
NP 424.174454828
NU 627.000000000
NZ 455.287727132
OM 499.543859649
PA 1071.631313131
PE 583.122040072
PF 231.625000000
PG 346.500000000
PH 530.430709534
PK 805.202336848
PL 662.864534134
PM 432.000000000
PR 607.797202797
PS 3269.090909090
PT 957.833531982
PW 279.000000000
PY 675.074733096
QA 1927.581967213
RE 372.444444444
RO 539.077561608
RS 1415.664406779
RU 791.125564588
RW 421.875000000
SA 1705.216240875
SC 554.500000000
SD 1180.166666666
SE 1006.907798033
SG 612.361056623
SH 238.000000000
SI 535.558891454
SK 594.409274193
SL 438.833333333
SM 264.000000000
SN 268.722222222
SO 640.250000000
SR 411.302325581
SS 233.000000000
SV 480.984693877
SX 230.250000000
SY 2633.650000000
SZ 630.384615384
TC 352.285714285
TD 1374.000000000
TG 395.333333333
TH 692.823918575
TJ 249.500000000
TL 240.285714285
TN 726.984375000
TO 262.000000000
TR 884.615784008
TT 1091.241379310
TW 1667.634385201
TZ 518.581395348
UA 5481.394912985
UG 593.798657718
US 657.456874001
UY 536.933908045
UZ 316.885714285
VC 4197.944444444
VE 622.689048760
VG 274.000000000
VI 367.230769230
VN 795.700770547
VU 191.571428571
WS 232.000000000
XK 344.428571428
YE 477.642857142
ZA 716.761142247
ZM 338.041237113
ZW 896.970873786

In [13]:
#Query 3 : Write out the total number of unique visitors (IPC=1) per country that have at least 10,000 unique visitors. 
#This list should be sorted so that the highest number of uniques is on top, and the 
#lowest number of uniques is at the end. 
#It should include two columns: country_code and count of unique visitors.

cursor.execute("SELECT country , sum(ipc) FROM ppdata.big_five_research where country is not null and country != '' and ipc = 1 group by country having sum(ipc)>10000 order by 2 desc")
rows = cursor.fetchall()
print('Total Row(s):', cursor.rowcount)

for row in rows:
    print(row[0],row[1])

Total Row(s): 7
US 345443
GB 49803
CA 43843
AU 34886
DE 12327
IN 12218
PH 11136

In [15]:
print ("For Query 3: NO was listed in the correct output file by mistake?")

For Query 3: NO was listed in the correct output file by mistake?

In [17]:
#Class : ListSum

def ListSum(list):
    ret=0
    for i in list:
        ret += i
    return ret

#Example
print (ListSum([2,3,4]))

9

In [18]:
#Class : ListAverage

def ListAverage(lst): 
    return sum(lst) / len(lst) 

#Example
lst = [15, 9, 55, 41, 35, 20, 62, 49] 
average = ListAverage(lst)
print (average)

35.75

In [19]:
#Drop the tables in mysql.

cursor.execute('DROP TABLE ppdata.big_five_research')

In [20]:
#Close the mysql connection

cursor.close()
DBPARAMS.close()